{% extends 'base.html' %}

{% load static %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'name_change.css' %}">
{% endblock %}

{% block title %}パスワード再設定画面{% endblock %}

{% block content %}
{% include 'base2.html' %}
<div class="remainder">
    <div class="square-eye">
        <form action="" method="POST">
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">送信</button>
        </form>
    </div>
</div>
<div class="push"></div>
{% endblock %}