{% extends 'base.html' %}

{% load static %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'name_change.css' %}">
{% endblock %}

{% block title %}パスワード変更完了画面{% endblock %}

{% block content %}
{% include 'base2.html' %}
<div class="remainder">
    <div class="square-eye">
        <p class="description">
            パスワードを変更しました。
        </p>
        <div class="bottom">
            <a class="update btn btn-primary btn-lg" href="{% url 'register:login' %}">ログイン</a>
        </div>
    </div>
</div>
<div class="push"></div>
{% endblock %}
