.wrapper {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to top, #140434, #9a86a9 50%, #ffffff 85%);
}
.background {
    background-color: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


.container .text-muted {
    margin: 20px 0;
    text-align: center;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}