    .month {
        text-align: left;
        float: left;
    }
    .routine {
        text-align: right
    }

.week {
    display: inline-block;
    text-align:center;
    line-height:0.95em;
    font-weight:bold;
    color: #ffffff;
    text-shadow:
        0 0.01em 0 #999,
        0 0.02em 0 #888,
        0 0.03em 0 #777,
        0 0.04em 0 #666,
        0 0.05em 0 #555,
        0 0.06em 0 #444,
        0 0.08em 0 #000;
}
    .week:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    border-bottom: none;
    }
    table{
    table-layout: fixed;
    text-align: center;
    border-collapse:separate;
    border-spacing: 0;
    border: 3px solid #8382ff;
    border-radius:10px;
    }
    .table td {
    padding: 0;
    }
    table th:first-child{
    border-radius: 5px 0 0 0;
    }

    table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #8382ff;
    }
    table th{
    text-align: center;
    background: linear-gradient(
    to bottom,
    #CED8F6 0%,
    #b3acff 49%,
    #6969ff 50%,
    #5882FA 80%,
    #ffa0f7 100%
    );
    border-left: 1px solid #8382ff;
    border-top: 1px solid #8382ff;
    border-bottom: 1px solid #8382ff;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.48) inset;

    }
    table .today{
    text-align: center;
    border: 2px solid #ecec00;
    box-shadow: 0 0 10px 0 #fffd65;
    }
    table td{
    text-align: center;
    border-left: 1px solid #8382ff;
    border-bottom: 1px solid #8382ff;
    border-top:none;
    }
    table td:last-child{
    border-right: 1px solid #8382ff;
    }

    table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
    }

    table tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
    }
    tbody tr{
    background-color: #ffffff;
    }
    .now-day {
        position: relative;
        margin: 1.5em 0;
        padding: 0.5em 0;
        background-image:url(/media/media/workout_day.png);
        background-size:cover;
        background-repeat:  no-repeat;
        background-position: center center;
        width:100%;
        height:100%;
        background-color: rgba(255, 249, 206, 0.5);
        background-blend-mode:lighten;
        border-top: solid 3px #ecec00;


    }
    .now-day .title {
        position: absolute;
        display: inline-block;
        top: -27px;
        left: -3px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 17px;
        background: #ecec00;
        color: #8989FF;
        font-weight: bold;
    }
    .now-day .detail {
        position: absolute;
        display: inline-block;
        top: -27px;
        right: 10px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;

        font-weight: bold;
    }
    .now-day .new{
        position: absolute;
        display: inline-block;
        top: -27px;
        right: 10px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;

        font-weight: bold;
    }
    .now-day p {
        font-weight: bold;
        padding-top: 15px;
    }
    .now-off-day {
        position: relative;
        margin: 1.5em 0;
        padding: 0.5em 0;
        background-color: rgba(255, 249, 206, 0.5);
        background-blend-mode:lighten;
        border-top: solid 3px #ecec00;


    }
    .now-off-day .title {
        position: absolute;
        display: inline-block;
        top: -27px;
        left: -3px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 17px;
        background: #ecec00;
        color: #8382ff;
        font-weight: bold;
        text-shadow:0 0 10px #f0efff;
    }
    .now-off-day .new{
        position: absolute;
        display: inline-block;
        top: -27px;
        right: 10px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;

        font-weight: bold;
    }
    .now-off-day p {
        font-weight: bold;
        padding-top: 15px;
    }
    .workout-day {
        position: relative;
        margin: 1.5em 0;
        padding: 0.5em 0;
        background-image:url(/media/media/workout_day.png);
        background-size:cover;
        background-repeat:  no-repeat;
        background-position: center center;
        width:100%;
        height:100%;
        background-color: rgba(213, 209, 255, 0.5);
        background-blend-mode:lighten;
        border-top: solid 3px #8989FF;

    }
    .workout-day .title {
        position: absolute;
        display: inline-block;
        top: -27px;
        left: -3px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 17px;
        background: #8989FF;
        color: #ffffff;
        font-weight: bold;
    }
    .workout-day .detail {
        position: absolute;
        display: inline-block;
        top: -27px;
        right: 10px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;

        font-weight: bold;
    }
    .workout-day p {
        font-weight: bold;
        padding-top: 15px;
    }
    .day {
        position: relative;
        margin: 1.5em 0;
        padding: 0.5em 0;
        border-top: solid 3px #8989FF;
    }
    .day .title {
        position: absolute;
        display: inline-block;
        top: -27px;
        left: -3px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 17px;
        background: #8989FF;
        color: #ffffff;
        font-weight: bold;
    }
    .day .new {
        position: absolute;
        display: inline-block;
        top: -27px;
        right: 10px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;
        font-weight: bold;
    }

    .day p {
        font-weight: bold;
        padding-top: 15px;
    }

    td > div {
        height: 6em;
        overflow: hidden;
        white-space: nowrap;
    }
     .remainder {
        height: 700px;
        background: linear-gradient(to top, #8d87ff, #ffffff 95%);
    }
    .square-eye{
    background-color: transparent;
    background-image:
    linear-gradient(0deg, transparent 9%,
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
    linear-gradient(90deg, transparent 9%,
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);

    height:100%;
     background-size:100px 100px;
}

.push {
    height: 60px;
}
.delete{
    display: inline-block;
    margin: 1em;
    background: linear-gradient(
    to bottom,
    rgb(253, 254, 255) 0%,
    rgb(213, 213, 213) 49%,
    #9c9c9c 50%,
    #b1b1b1 80%,
    #dadada 100%
    );
    color: #000000;
    text-shadow: 0 1px 0 #EFF5FB;
    box-shadow: 0 1px 0 #FFF inset;
    border-radius:5px;
    }


    @media (max-width:767px) {
        .now-day .title {
            font-size: 10px;
            padding: 0 3px;
        }
        .now-off-day .title {
            font-size: 10px;
            padding: 0 3px;
        }
        .workout-day .title {
            font-size: 10px;
            padding: 0 3px;
        }
        .day .title {
            font-size: 10px;
            padding: 0 3px;
        }
        .now-day .new {
            right: 14px;
        }
        .now-off-day .new {
            right: 14px;
        }
        .workout-day .new {
            right: 14px;
        }
        .now-day .new {
            right: -3px;
        }
        .now-off-day .new {
            right: 3px;
        }
        .workout-day .new {
            right: -3px;
        }
        .day .new {
            right: -3px;
        }
        .now-day .detail {
            right: -3px;
        }
        .workout-day .detail {
            right: -3px;
        }
        .day p {
        font-size: 12px;
    }
        .workout-day p {
        font-size: 10px;
    }
        .now-day p {
        font-size: 10px;
    }
    }
    @media (min-width:768px) {
        .now-day .title {
            font-size: 10px;
            padding: 0 3px;
        }
        .now-off-day .title {
            font-size: 10px;
            padding: 0 3px;
        }
        .workout-day .title {
            font-size: 10px;
            padding: 0 3px;
        }
        .day .title {
            font-size: 10px;
            padding: 0 3px;
        }
        .now-day .new {
            right: 14px;
        }
        .now-off-day .new {
            right: 14px;
        }
        .workout-day .new {
            right: 14px;
        }
        .day .new {
            right: 14px;
        }
        .now-day .detail {
            right: 14px;
        }
        .workout-day .detail {
            right: 14px;
        }
        .workout-day p {
        font-size: 13px;
    }
        .now-day p {
        font-size: 13px;
    }
    }
    @media (min-width:992px) {
        .now-day .title {
            font-size: 17px;
            padding: 0 3px;
        }
        .now-off-day .title {
            font-size: 17px;
            padding: 0 3px;
        }
        .workout-day .title {
            font-size: 17px;
            padding: 0 3px;
        }
        .day .title {
            font-size: 17px;
            padding: 0 3px;
        }
        .now-day .new {
            right: 22px;
        }
        .now-off-day .new {
            right: 22px;
        }
        .workout-day .new {
            right: 22px;
        }
        .day .new {
            right: 22px;
        }
        .now-day .detail {
            right: 22px;
        }
        .workout-day .detail {
            right: 22px;
        }
    }
    @media (min-width:1200px) {
        .now-day .new {
            right: 35px;
            font-size: 13px;
        }
        .now-off-day .new {
            right: 35px;
            font-size: 13px;
        }
        .workout-day .new {
            right: 35px;
            font-size: 13px;
        }
        .day .new {
            right: 35px;
            font-size: 13px;
        }
        .now-day .detail {
            right: 35px;
            font-size: 13px;
        }
        .workout-day .detail {
            right: 35px;
            font-size: 13px;
        }
    }