    h2 {
        padding: 0.25em 0;
        margin-bottom: 0;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        background: linear-gradient(
                to bottom,
                #ced8f6 0%,
                #b3acff 49%,
                #6969ff 50%,
                #5882FA 80%,
                #ffa0f7 100%
        );
        border-top: 3px solid #9b9aff;
        border-left: 3px solid #9b9aff;
        border-right: 3px solid #9b9aff;
        border-top-right-radius: 5px ;
        border-top-left-radius: 5px ;
    }
    .form{
        text-align: center;
    }
    .tr1 .heading{
        color: #4c4cff;
        background-color: #deddf6;
        border-right: 3px solid #9b9aff;
        border-left: 3px solid #9b9aff;
        border-bottom: dashed 1px #a3a1f6;
        line-height: 3em;
    }
    .discipline> p {
        margin-bottom: 0;
        border-right: 3px solid #9b9aff;
        border-left: 3px solid #9b9aff;
        border-bottom: dashed 1px #9b9aff;
        padding: 20px 0 20px 10px;
    }
    .form> p {
        margin-bottom: 0;
        border-right: 3px solid #9b9aff;
        border-left: 3px solid #9b9aff;
        padding: 20px 0 20px 10px;
    }

    table{
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
    }
    .tr2 {
        background: linear-gradient(90deg, rgb(159, 217, 246), rgb(245, 239, 255));
    }
    .tr2>th {
        font-size: 12px;
    }
    .tr2>td {
        font-size: 12px;
        border-top: 3px solid #9b9aff;
        border-right: 3px solid #9b9aff;
        text-align: center;
    }
    .tr2>td >input {
        width: 100%;
    }
    table .tr2:first-child th {
        background-color: #c46ef4;
        color: #ffffff;
    }
    table .tr2:first-child td:first-child {
        border-left: 3px solid #9b9aff;
    }
    .tr2>th {
        background-color: #e7a5f4;
        color: #ffffff;
        text-align: center;
        border-top: 3px solid #9b9aff;
        border-right: 3px solid #9b9aff;
        border-left: 3px solid #9b9aff;
    }
    table .tr2:last-child {
        border-bottom: 3px solid #9b9aff;
    }
    .remainder {
        height: 20px;
        border-bottom: dashed 1px #9b9aff;
        border-right: 3px solid #9b9aff;
        border-left: 3px solid #9b9aff;
    }
    .continue{
        display: block;
        font-size: 0.8em;
        color: #5b59f6;
        padding-top: 20px;
    }
    .update{
        display: inline-block;
        margin: 1.8em 0  1em 0;
        background: linear-gradient(
            to bottom,
            rgb(231, 255, 246) 0%,
            rgb(138, 255, 205) 49%,
            #00cc99 50%,
            #85ffc7 80%,
            #bbffe1 100%
        );
        color: #000000;
        text-shadow: 0 1px 0 #EFF5FB;
        box-shadow: 0 1px 0 #FFF inset;
        border-radius:5px;
    }
    .register_contain {
        border-top: dashed 1px #9b9aff;
        border-right: 3px solid #9b9aff;
        border-left: 3px solid #9b9aff;
    }
    label {
        margin-bottom: 0;
    }
    .register{
        display: inline-block;
        margin: 0.5em 0  1em 0;
        background: linear-gradient(
            to bottom,
            rgb(231, 255, 246) 0%,
            rgb(138, 255, 205) 49%,
            #00cc99 50%,
            #85ffc7 80%,
            #bbffe1 100%
        );
        color: #000000;
        text-shadow: 0 1px 0 #EFF5FB;
        box-shadow: 0 1px 0 #FFF inset;
        border-radius:5px;
    }
    .under_the_frame {
        height: 20px;
        border-bottom: 3px solid #9b9aff;
        border-right: 3px solid #9b9aff;
        border-left: 3px solid #9b9aff;
        border-bottom-right-radius: 5px ;
        border-bottom-left-radius: 5px ;
    }
    h3 {
        padding: 1em 0 0.25em 0;
        color: #7371ff;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        border-bottom: 3px double #9b9aff;
        border-top-right-radius: 5px ;
        border-top-left-radius: 5px ;

    }
    .tr3 {
        line-height: 3em;
        border-bottom: dashed 1px #a3a1f6;
    }
    .remarks {
        margin-bottom: 0;
        border-right: 3px solid #9b9aff;
        border-left: 3px solid #9b9aff;
        padding: 60px 0 20px 10px;
    }
    .delete{
    display: inline-block;
    margin: 4em;
    background: linear-gradient(
    to bottom,
    rgb(253, 254, 255) 0%,
    rgb(213, 213, 213) 49%,
    #9c9c9c 50%,
    #b1b1b1 80%,
    #dadada 100%
    );
    color: #000000;
    text-shadow: 0 1px 0 #EFF5FB;
    box-shadow: 0 1px 0 #FFF inset;
    border-radius:5px;
    }
    .remainder2 {
        height: 700px;
        background: linear-gradient(to top, #8d87ff, #ffffff 99%);
    }

    .square-eye{
    background-color: transparent;
    background-image:
    linear-gradient(0deg, transparent 9%,
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
    linear-gradient(90deg, transparent 9%,
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);

    height:100%;
     background-size:100px 100px;
}

.push {
    height: 60px;
}

    @media (max-width:767px) {
         .table-contents {
            overflow-x: scroll;
            width: 100%;
    }
        .table2 {
            white-space: nowrap;
            min-width: 130%;
    }
        p {
            font-size: 13px;
    }
        .table2 th {
            font-size: 12px;
    }
    }
    @media (min-width:992px) {
        .table2 th {
            font-size: 15px;
    }
        .table2 td {
            font-size: 15px;
        }
    }