p{
        text-align: center;
    }
    table{
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
    }

    table th, table td {
        border-bottom: dashed 1px #a3a1f6;
        line-height: 3em;
    }
    .form{
        text-align: center;
    }
    label{
        font-weight: normal;
    }
    .decision{
        display: inline-block;
        margin: 1em 0  1em 0;
        background: linear-gradient(
            to bottom,
            rgb(231, 255, 246) 0%,
            rgb(138, 255, 205) 49%,
            #00cc99 50%,
            #85ffc7 80%,
            #bbffe1 100%
        );
        color: #000000;
        text-shadow: 0 1px 0 #EFF5FB;
        box-shadow: 0 1px 0 #FFF inset;
        border-radius:5px;
    }
    .remainder {
        height: 700px;
        background: linear-gradient(to top, #8d87ff, #ffffff 95%);
    }
    .square-eye{
    background-color: transparent;
    background-image:
    linear-gradient(0deg, transparent 9%,
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
    linear-gradient(90deg, transparent 9%,
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);

    height:100%;
     background-size:100px 100px;
}

.push {
    height: 60px;
}
