h1{
    font-size: 70px;
    padding-top: 50px;
	line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow:
		0 0 0.10em #2962FF,
		0 0 0.15em #2962FF,
		0 0 0.80em #2962FF,
		0 0 1.00em #2962FF;
}

h2{
    font-size: 20px;
    padding-top: 150px;
    line-height:0.95em;
	font-weight:bold;
    color: #ffffff;
	text-shadow:
		0 0.03em 0.03em #FFAB91,
		0 0.03em 0.03em #000,
		0 0.03em 0.03em #FBE9E7;
}


.remainder {
        text-align: center;
        height: 850px;
        background: linear-gradient(to top, rgba(1, 1, 1, 0.84) 0%, rgba(1, 1, 3, 0.8) 100%),url("/static/media/top_background.jpg");
        background-size:  cover;
    }



.push {
    height: 60px;
}

.positioning{
    margin-top: 300px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.2vh;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-c {
  font-size: 20px;

  position: relative;

  padding: 2rem 5rem 2rem 3rem;

  color: #fff;
  border-radius: 0;
  background-image: -webkit-linear-gradient(
    335deg,
    #231557 0%,
    #44107a 25%,
    #ff1361 90%,
    #fff800 100%
  );
  background-image: linear-gradient(
    115deg,
    #231557 0%,
    #44107a 25%,
    #ff1361 90%,
    #fff800 100%
  );
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

a.btn-c span {
  position: relative;
}

a.btn-c:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  background-image: -webkit-linear-gradient(
    335deg,
    #231557 0%,
    #44107a 15%,
    #ff1361 70%,
    #fff800 100%
  );

  background-image: linear-gradient(
    115deg,
    #231557 0%,
    #44107a 15%,
    #ff1361 70%,
    #fff800 100%
  );
}

a.btn-c:after {
  font-family: "Font Awesome 5 Free";
  font-size: 1.6rem;
  line-height: 1;

  position: absolute;
  top: calc(50% - 0.8rem);
  right: 1rem;

  margin: 0;
  padding: 0;

  content: "\f30b";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.btn-c:hover {
  color: #fff;
}

a.btn-c:hover:before {
  opacity: 0;
}

a.btn-c:hover:after {
  right: 0.5rem;
}
