{% extends 'base.html' %}

{% load static %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'discipline_create_update.css' %}">
{% endblock %}

{% block title %}week_list{% endblock %}

{% block content %}
{% include 'base2.html' %}
<h2>{{ date | date:"Y年m月d日" }}</h2>
<form method="post" class="form">{% csrf_token %}
    <table class="container">
        <tr class="tr1">
            <th class="heading">種目変更フォーム</th>
        </tr>
    </table>
    <div class="discipline">
        <p>種目　：　{{ form.discipline }}</p>
    </div>
        <p>セットあたりの重量と回数 ※自重は0となります</p>
    <div class="table-contents">
    <table class="container table2">
        <tr class="tr2">
            <th>セット</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
        </tr>
        <tr class="tr2">
            <th>重量</th>
            <td>{{ form.weight_1 }}</td>
            <td>{{ form.weight_2 }}</td>
            <td>{{ form.weight_3 }}</td>
            <td>{{ form.weight_4 }}</td>
            <td>{{ form.weight_5 }}</td>
            <td>{{ form.weight_6 }}</td>
            <td>{{ form.weight_7 }}</td>
            <td>{{ form.weight_8 }}</td>
            <td>{{ form.weight_9 }}</td>
            <td>{{ form.weight_10 }}</td>
        </tr>
        <tr class="tr2">
            <th>回数</th>
            <td>{{ form.times_1 }}</td>
            <td>{{ form.times_2 }}</td>
            <td>{{ form.times_3 }}</td>
            <td>{{ form.times_4 }}</td>
            <td>{{ form.times_5 }}</td>
            <td>{{ form.times_6 }}</td>
            <td>{{ form.times_7 }}</td>
            <td>{{ form.times_8 }}</td>
            <td>{{ form.times_9 }}</td>
            <td>{{ form.times_10 }}</td>
        </tr>
    </table>
    </div>
    <div class="remainder"></div>
    <p class="remarks">備考　：　{{ form.remarks }}</p>
    <div class="register_contain">
        <input type="submit" value="更新" class="update">
    </div>
</form>
<div class="under_the_frame"></div>
<div class="remainder2">
    <div class="square-eye"></div>
</div>
<div class="push"></div>
{% endblock %}
